# --- Environment ------------------------------------------------------------------------------------------------------
# development, staging, production
ENV_STATE=development
DEBUG=False

# --- Logging ----------------------------------------------------------------------------------------------------------
LOGGING_LEVEL_CONSOLE=INFO
LOGGING_LEVEL_FILE=WARNING

LOGGING_FILE_MAX_SIZE=10
LOGGING_FILE_BACKUP_COUNT=5

# --- Docker -----------------------------------------------------------------------------------------------------------
DOCKER_NETWORK_NAME=tvorcha-network
DOCKER_VOLUME_NAME=tvorcha-efs
DOCKER_VOLUME_PATH=D:/tvorcha-lavka

# --- Redis ------------------------------------------------------------------------------------------------------------
REDIS_PORT=6379
REDIS_BROKER_URL="redis://redis:${REDIS_PORT}/0"

# --- RabbitMQ ---------------------------------------------------------------------------------------------------------
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_BROKER_URL="pyamqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${RABBITMQ_HOST}:${RABBITMQ_PORT}//"

# --- Celery -----------------------------------------------------------------------------------------------------------
CELERY_WORKER_COUNT=1
CELERY_DEFAULT_CPU=1
CELERY_DEFAULT_MEM=512m

CELERY_CONCURRENCY=2
CELERY_MAX_TASKS_PER_CHILD=20

CELERY_DEBUG="${DEBUG}"
CELERY_BROKER_URL="${RABBITMQ_BROKER_URL}"
CELERY_RESULT_BACKEND="${REDIS_BROKER_URL}"
